@import './assets/resst';
@import './assets/mixins';
@import './assets/variables';


//header
header {
    background-image: linear-gradient(to right, $primery-color, $grad-color);
    padding: 3rem 6rem;
    color: white;

    @include mobile {
        padding: 2rem;
        background-color: $primery-color;
        background-image: none;
    }
}

nav {
    display: flex;
    align-items: center;

    p {
        margin-left: 1.5rem;
        font-size: small;
        font-weight: bold;
        color: #d8d8d8;

        @include mobile {
            display: none;
        }
    }
}

#logo {
    display: flex;
    margin-right: auto;
    align-items: center;

    @include mobile {
        justify-content: space-between;
        margin-right: 0;
        width: 100%;
    }


    img {
        margin-right: 1rem;
    }
}

#intro {
    display: flex;
    margin-top: 6rem;

    @include mobile {
        flex-direction: column;
    }

    h1 {
        font-size: xxx-large;
        letter-spacing: 4px;
    }
}

#intro__text {
    &>* {
        margin-bottom: 1rem;
    }

    p {
        font-size: .9rem;

        i {
            margin-right: .5rem;
            font-size: .8rem;
        }

        &:last-child {
            margin-top: 3rem;
        }
    }
}

.btn {
    color: white;
    border: 2px solid white;
    border-radius: 4rem;
    padding: .8rem;
    width: max-content;
}

//header

//feature

#featsures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 4rem;
    grid-gap: 1rem;
}

.card {

    padding: 1rem;
    display: flex;
    align-items: center;

    i {
        color: #f5593d;
        font-size: 3rem;
        margin-right: 2rem;
    }
}

.card__text {

    h3 {
        margin-bottom: 1rem;
        font-size: x-large;
    }

    p {
        color: $text-color;
    }
}

//featsure
hr {
    width: 60%;
    margin: 1rem auto;
    border: .5px solid #F1EAE0;
}

//about
#about {
    display: flex;
    padding: 4rem 6rem;

    @include mobile {
        flex-direction: column;
        padding: 4rem 2rem;
    }
}

#about__img {
    flex: 3;

    img {
        width: 100%;
        height: 100%;
    }
}

#about__text {
    h2 {
        font-size: xx-large;
    }

    flex: 5;

    &>* {
        margin-bottom: 1rem;
    }

    p {
        color: $text-color;
    }

    i {
        margin-right: .5rem;
        font-size: .8rem;
    }
}



//about

//screenshot

#screenshots {
    text-align: center;
    width: 80%;
    margin: 3rem auto;



    h1,
    p {
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 3rem;
    }

    P {
        color: $text-color;
    }

}

#img-slider {
    position: relative;
    overflow: hidden;

    &:hover>#btns {
        opacity: 1;
    }

}

#img-slide {
    display: flex;
    transition: .5s;

    img {
        width: 100%;
        margin: 1rem 0rem;
        border-radius: 10px;
    }
}

#btns {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    opacity: 0;
    transition: .4s;

    i {
        font-size: 2rem;
        color: $primery-color;

        &:hover {
            cursor: pointer;
        }
    }
}

#dots {
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    width: 20%;

}

.dot {
    display: inline-block;
    height: 3px;
    background-color: white;
    width: 30px;
}

.dot-selected {
    background-color: $primery-color;
}

//prices

#prices {
    text-align: center;
    margin: 10rem 4rem;

    h1,
    &>p {
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 3rem;
    }

    &>P {
        color: $text-color;
        width: 70%;
        margin: auto;
    }
}

#prices-cards {
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;

    @include mobile {
        flex-direction: column;
    }
}

.price_card {
    transition: .4s;
    flex: 1;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 5px 5px #d2d2d2;
        transform: translateY(-15px);
    }

    &>* {
        margin-bottom: 3rem;
    }

    li {
        margin-bottom: 1.5rem;
        color: $text-color;
    }

    @include mobile {
        margin-top: 2rem;
    }
}

.title,
.price {
    font-weight: bold;
}

.price {
    font-size: 2rem;
    padding: 2.5rem 3rem;
}

.trial {
    margin-top: 10rem;
}

.buy {
    @include btn($text-color);
    color: $text-color;
    padding: .8rem;
    cursor: pointer;
    width: max-content;
    margin: 1rem auto;
}

.price-selected {
    background-image: linear-gradient(to right, $primery-color, $grad-color);
    color: white;
    border: none;
}